footer{
	background-color : black;
	color : white;
}

.top{
	display :flex;
	justify-content : space-between;
		padding :10px;
	align-items : center;

}

.media-icons{
	display :flex;
	gap : 10px;


}

.link-boxes{
	display : flex;
	padding :10px;

}

ul{
	list-style-type : none;
}

.bottom-details{
	display : flex;
	justify-content : space-between;
	background-color : #2C303A;
	padding : 10px 10px;
}